version: "2"
services:
  redis-server:
    container_name: redis
    image: redis
    expose:
      - 6379
  app-server:
    container_name: spring-app
    image: openjdk:11-jdk
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
    working_dir: /app
    command: [./gradlew, bootrun]
    depends_on:
      - redis-server
    restart: always